body {
  background: black;
  color: white;
}

textarea {
  background: black;
  color: white;
  width: 400px;
}

.text {
  background: black;
  color: white;
}

.evalButton {
  background: darkGrey;
  color: white;
}

#global {
padding: 20px; 
position: absolute; 
left: 0px;
top: 0px;
width: 100%;
height: 100%; 
}

canvas {
background: transparent;
position: absolute; 
left: 0px;
top: 0px;
}
